



    <div class="site-navbar py-2" style="background-color: rgb(255, 255, 255);">

        <div class="search-wrap">
          <div class="container">
            <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
            <form action="#" method="post">
              <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
            </form>
          </div>
        </div>
  
        <div class="container">
          <div class="d-flex align-items-center justify-content-between">
            <div class="logo">
              <div class="site-logo">
                <img src="../../../favicon.ico" width="50px" style="padding: 10px;">
                <a href="" class="logo">Clinica I-V</a>
              </div>
            </div>
            <div class="main-nav d-none d-lg-block">
              <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block" style="  font-weight: bold;">
                  <button *ngIf="!this.activo" (click)="navegarALogin()" class="button">INICIAR SESIÓN</button>
                  <button *ngIf="this.activo" (click)="cerrarSesion()" class="button">CERRAR SESIÓN</button>
                  <button  class="button" *ngIf="this.administrador" (click)="navegarAdminUsuarios()">USUARIOS</button>
                  <button  class="button"  (click)="navegarSacarTurno()">SACAR-TURNO</button>
                  <!--li><a href="shop.html">Store</a></li>
                  <li class="has-children">
                    <a href="#">Dropdown</a>
                    <ul class="dropdown">
                      <li><a href="#">Supplements</a></li>
                      <li class="has-children">
                        <a href="#">Vitamins</a>
                        <ul class="dropdown">
                          <li><a href="#">Supplements</a></li>
                          <li><a href="#">Vitamins</a></li>
                          <li><a href="#">Diet &amp; Nutrition</a></li>
                          <li><a href="#">Tea &amp; Coffee</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Diet &amp; Nutrition</a></li>
                      <li><a href="#">Tea &amp; Coffee</a></li>
                      
                    </ul>
                  </li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="contact.html">Contact</a></li-->
                </ul>
              </nav>
            </div>
            <div class="icons">
              <!--a href="login"  class="icon-log">
                <i  ><img  src="../../../assets/iconos/user.svg" width="30px"></i> INGRESAR
              </a-->
            </div>
          </div>
        </div>
      </div>