<app-nav-bar></app-nav-bar>
<div *ngIf="this.spinner" class="spinner"></div>
<body style="margin-top: 50px; margin-bottom: 5%;">

	<div class="wrapper animated animatedFadeInUp fadeInUp">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<!--div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Registrate</h2>
								<p>¿No tienes una cuenta?</p>
								<button (click)="navegarRegistrar()" class="btn btn-white btn-outline-white">Registrarte</button><br><br>
							</div>
						</div-->
						<div class="login-wrap p-4 p-lg-5" style=" width: 800%;">
							<form action="#" class="signin-form" [formGroup]="formularioLogin"  style="margin-bottom:5%;">
								<div class="w-100">
									
								<div class="d-flex">
									<div class="row " style=" width: 20%; margin-top: 5%;" *ngIf="this.ingresoRapido"  >   <!--style=" width: 10%;"-->         
										<div  style="width: 100px; height: 75px; border-color: rgba(255, 255, 255, 0.925); background-color: rgb(255, 255, 255); cursor: pointer;"
										*ngFor='let usuario of listadoUsuarioAccesoRapido'>
											<div class="card" (click)='this.cargarPerfil(usuario)'>
												<img class="card-img-top" src="{{usuario.fotoUno}}" width="60px" height="75px"  *ngIf="usuario.perfil != 'paciente'">
												<img class="card-img-top" src="{{usuario.fotoDos}}" width="60px" height="75px" *ngIf="usuario.perfil == 'paciente'">											
											</div>
										</div>
								</div>
								<div style="width: 70%; margin-left: 10%; margin-top: 10%;">
								<div class="form-group mb-3">
									<h3 class="mb-4">Iniciar sesión</h3>	
									<label class="label" for="name">Correo electrónico</label>
									<input [(ngModel)]="user.email" type="text" class="form-control" id="email"
										placeholder="Ingrese email" formControlName="email">
									<small style="color:rgb(0, 0, 0);" class="invalid" *ngIf="formularioLogin.controls['email'].errors?.['required'] &&
							  formularioLogin.controls['email'].touched">
										El email es requerido
									</small>
									<small style="color:rgb(0, 0, 0);" class="invalid" *ngIf="formularioLogin.controls['email'].errors?.['email']&&
						  formularioLogin.controls['email'].touched">
										El email no tiene el formato correcto
									</small>
								</div>
								<div class="form-group mb-3">
									<label class="label" for="password">Contraseña</label>
									<input [(ngModel)]="user.password" type="password" class="form-control"
										id="password" placeholder="Ingrese contraseña" formControlName="password">
									<small class="invalid" style="color:rgb(0, 0, 0);" *ngIf="formularioLogin.controls['password'].errors?.['required']  &&
					formularioLogin.controls['password'].touched">
										El contraseña es requerida
									</small>
								</div>

								<div class="form-group">
									<button *ngIf="!this.ingresoRapido" (click)="this.login()"
										class="form-control btn btn-primary submit px-3" style="margin-bottom: 15px;" >Ingresar</button>
									<button *ngIf="!this.ingresoRapido" (click)='this.ingresoRapido = !this.ingresoRapido'
										class="form-control btn btn-primary submit px-3" style="margin-bottom: 15px;" >Ingreso rápido</button>
									<button *ngIf="this.ingresoRapido" (click)='this.loginRapido()'
										class="form-control btn btn-primary submit px-3" style="margin-bottom: 15px;" >Ingresar</button>
							
										<button type="submit"
										class="form-control btn btn-primary submit px-3" style="margin-bottom: 15px;" (click)="navegarRegistrar()">Registrate</button>
								
									</div>
								</div>
							</div>
						</div>
							</form>
					
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
</body>