 /* Blocks */
 .site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .site-blocks-cover, .site-blocks-cover > .container > .row {
      min-height: 700px;
      height: calc(100vh); }
    .site-blocks-cover.inner-page, .site-blocks-cover.inner-page .row {
      min-height: 400px;
      height: 700px; }
    .site-blocks-cover h2 {
      font-size: 14px;
      font-weight: normal;
      color: #000;
      letter-spacing: .2em;
      text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .site-blocks-cover .featured-hero-product {
        margin-top: 10%;
        position: absolute; } }
    .site-blocks-cover h1 {
      font-size: 50px;
      font-weight: 900;
      color: #fff;
      margin-bottom: 30px;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        .site-blocks-cover h1 {
          font-size: 70px; } }
    .site-blocks-cover p {
      color: #fff;
      font-size: 20px;
      line-height: 35px; }
    .site-blocks-cover .intro-text {
      font-size: 16px;
      color: #fff;
      line-height: 1.5; }
    .site-blocks-cover.inner-page .site-block-cover-content {
      margin-top: 20%;
      text-align: center; }
      @media (min-width: 768px) {
        .site-blocks-cover.inner-page .site-block-cover-content {
          margin-top: 30%; } }
    .site-blocks-cover .sub-title {
      color: #fff; }
    @media (max-width: 991.98px) {
      .site-blocks-cover .img-1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto; } }
    .site-blocks-cover .btn {
      padding: 20px 30px; }
 
 .button:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
 }
 .pag {
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: 1.125rem;
  text-anchor: middle;
  height: 100vh;
  color: rgb(231, 226, 226);
}

.blur
{
  background: rgba(0, 0, 0, 0.568); 
  backdrop-filter: blur(10px); 
}
 
 button:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }
      

 /*PRUEBA*/
 
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url("../../../assets/banner.jpg") no-repeat 50% 30%;
  background-size: 100%;
  margin-bottom: 20px;
  animation: background linear 12s alternate 1s infinite;
  
}

.banner__container {
  text-align: right;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  color: #fff;
}



@keyframes background {
  0% {
    background: url("../../../assets/banner.jpg") no-repeat 50% 30%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
  }
  100% {
    background: url("../../../assets/banner.jpg") no-repeat 50% 60%;
    background-size: 100%;
    transition: background 0.5s ease-in-out;
  }
}
.banner__hero {
  font-family: 'Josefin Sans';
  font-weight: 300;
  font-size: 3em;
  text-align: center;  
  color: #fff;
  margin-bottom: 5px;
}

.banner__text {
  margin: 0 0 15px 0;
}

h2
{
    font-size: 3em;
    color:rgb(0, 0, 0);
    letter-spacing: 1px;
    text-shadow:  0px 0px 6px #1aeeef;
    display: inline-block;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-13 15:59:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
.button {
  background: linear-gradient(-45deg, #3f00b5, #257afa, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 700;
  color: white;
  transition: all .5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}