<app-nav-bar></app-nav-bar>

<!--div style="text-align: center;">
  <div >
  <img src="../../../assets/banner.jpg" style="width:100%;display: block; position: relative;">
</div>
<div style="position: absolute">
  <button (click)="navegarALogin()" style=" position: absolute;">Iniciar sesión </button>
</div>
</-->

<div class="animated animatedFadeInUp fadeInUp">
<header class="banner">
  <div class="banner__overlay">
    <div class="banner__container" style="text-align: left;">
      <div>
      <h1  style="color: rgb(0, 0, 0); padding-left: 10%; padding-top: 45%;">Bienvenido</h1>
    </div>
      <div>
       
        <button  style="margin-left: 8%; margin-top:6% " class="btn-log" appBtnHome
          (click)="navegarALogin()">Iniciar sesión</button>
      </div>
    </div>
</div>