<app-nav-bar></app-nav-bar>

<body>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="wrapper fadeInDown">
                <div class="card card-4">
                    <div class="card-body">
                        <h2 style="text-align: center;" class="title">REGISTRAR ESPECIALISTA</h2>
                        <form [formGroup]="formularioRegistro">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Nombre</label>
                                        <input [(ngModel)]="especialista.nombre" type="text" class="input--style-4"
                                            id="nombre" placeholder="Ingrese nombre" formControlName="nombre">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['nombre'].errors?.['required'] &&
                                        formularioRegistro.controls['nombre'].touched">
                                            El nombre es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Apellido</label>
                                        <input [(ngModel)]="especialista.apellido" type="text" class="input--style-4"
                                            id="apellido" placeholder="Ingrese apellido" formControlName="apellido">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['apellido'].errors?.['required'] &&
                                        formularioRegistro.controls['apellido'].touched">
                                            El apellido es requerido
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">DNI</label>
                                        <input [(ngModel)]="especialista.dni" type="number" class="input--style-4"
                                            id="dni" placeholder="Ingrese DNI" formControlName="dni">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['dni'].errors?.['required'] &&
                                        formularioRegistro.controls['dni'].touched">
                                            El DNI es requerido
                                        </small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Edad</label>
                                        <input [(ngModel)]="especialista.edad" type="number" class="input--style-4"
                                            id="edad" placeholder="Ingrese edad" formControlName="edad">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['edad'].errors?.['required'] &&
                                        formularioRegistro.controls['edad'].touched">
                                            La edad es requerida
                                        </small>
                                        <!--small class="invalid" *ngIf="formularioRegistro.controls['dni'].errors?.['maxlength'] &&
                                    formularioRegistro.controls['dni'].touched">
                                            El DNI tiene como máximo ocho digitos
                                        </small-->

                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Correo electrónico</label>
                                        <input [(ngModel)]="especialista.mail" type="text" class="input--style-4"
                                            id="email" placeholder="Ingrese correo electrónico" formControlName="email">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['email'].errors?.['required'] &&
                                    formularioRegistro.controls['email'].touched">
                                            El correo electrónico es requerido
                                        </small>
                                        <small class="invalid" *ngIf="formularioRegistro.controls['email'].errors?.['email']&&
                                formularioRegistro.controls['email'].touched">
                                            El correo electrónico no tiene el formato correcto
                                        </small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Contraseña</label>
                                        <input [(ngModel)]="especialista.password" type="password"
                                            class="input--style-4" id="clave" placeholder="Ingrese contraseña"
                                            formControlName="clave">
                                        <small class="invalid" *ngIf="formularioRegistro.controls['clave'].errors?.['required'] &&
                                    formularioRegistro.controls['clave'].touched">
                                            La contraseña es requerida
                                        </small>
                                        <small *ngIf="formularioRegistro.controls['clave'].errors?.['minlength']">
                                            La contraseña debe tener como mínimo seis digitos
                                        </small>
                                    </div>
                                </div>
                                <div class="col-9 mb-3">
                                    <label class="label">Especialidad</label>
                                    <input [(ngModel)]="especialista.especialidad" type="text" class="input--style-4"
                                        id="especialidad" placeholder="Ingrese especialidad"
                                        formControlName="especialidad">
                                    <small class="invalid" *ngIf="formularioRegistro.controls['especialidad'].errors?.['required'] &&
                                        formularioRegistro.controls['especialidad'].touched">
                                        La especialidad es requerida
                                    </small>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="button-especialidad"
                                        (click)="agregarEspecialidad()">Agregar
                                        Especialidad</button>
                                </div>
                                <div class="mb-2 col-7">
                                    <div class="row">
                                        <div class="col-6" *ngFor="let esp of this.especialidades">
                                            <button type="button" class="btn-es"
                                                (click)="cargarEspecialidad(esp)">{{esp.nombre}}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 mb-2">
                                    <p>Especialidades del asignadas:</p><br>
                                    <ul style="list-style: none;">
                                        <li *ngFor="let esp of especialidadesAgregar">{{esp.nombre}}</li>
                                    </ul>
                                </div>
                                <div class="col-9 mb-3">
                                    <input type="file" formControlName='imagen' (change)="change($event)">
                                    <small class="invalid" *ngIf="formularioRegistro.controls['imagen'].errors?.['required'] &&
                                        formularioRegistro.controls['imagen'].touched">
                                        La imagen es requerida
                                    </small>
                                </div>
                            </div>
                            <div class="p-t-15" style="text-align: center;">
                                <button (click)="registrar()" class="button-reg" type="submit">Registrate</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>